body {
  margin: 0;
  max-width: 100vw;
}

pre,
code {
  overflow: auto;
}

#pageContainer {
  display: flex;
  width: 100%;
  max-width: 100vw;
  height: calc(100vh - 84px);
}

#blocklyDiv {
  flex-basis: 100%;
  height: 100%;
  min-width: 600px;
}

#outputPane {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

#generatedCode {
  /* Ранее было height: 50%; теперь работаем через flex из index.html */
  background-color: rgb(247, 240, 228);
}

#output {
  /* Ранее было height: 50%; теперь работаем через flex из index.html */
}
